*.docx
*.pptx
*.ppt
*.pages
*.jpeg
*.zip
*.jpg
*.doc
*.csv
*.xlsx
*.ipynb
*.txt
*.pdf
*/_DS_Store
final_cindy/

期中考古/2012/_DS_Store

期中考古/2008/_DS_Store

期中考古/2009/_DS_Store

期中考古/2010/_DS_Store

期中考古/2013/_DS_Store

project/__pycache__/recipeCrawler.cpython-37.pyc

project/egg\+milk\+flour.json

project/ham\+cheese.json

project/categoryList.pickle

project/cp.pickle

project/docId2KaggleType.pickle

project/docId2NormalizedKaggleType.pickle

project/ingredientDic.pickle

project/ingredientList.pickle

project/kaggleData.pickle

project/priorDic.pickle

project/vectors.pickle
