*.docx
*.pptx
*.ppt
*.pages
*.jpeg
*.zip
*.jpg
*.doc
*.csv
*.xlsx
*.ipynb
*.txt
*.pdf
*/_DS_Store
final_cindy/

期中考古/2012/_DS_Store

期中考古/2008/_DS_Store

期中考古/2009/_DS_Store

期中考古/2010/_DS_Store

期中考古/2013/_DS_Store

project/__pycache__/recipeCrawler.cpython-37.pyc
